---
import Layout from '../layouts/Layout.astro';
import FoliageMap from '../components/FoliageMap';
import StateDropdown from '../components/StateDropdown';
import LocationDetails from '../components/LocationDetails';
import locationImages from '../data/location_images.json';

const { state, slug } = Astro.params;
const { location, historicalPhenology } = Astro.props;

const title = `${location.name}, ${location.stateName} Fall Foliage Tracker 2026`;
const description = `Get the latest 2026 fall foliage report, peak color predictions, and driving directions for ${location.name} in ${location.stateName}.`;

const images = locationImages[location.slug] || [];
---

<Layout title={title} description={description} fullScreen={true}>
	<main style="position: relative; width: 100%; height: 100%; overflow: hidden;">
		<FoliageMap client:only="react" center={[location.coordinates.lat, location.coordinates.lng]} initialZoom={11} routeGeoJSONUrl={location.hasRoute ? `/routes/location-${location.slug}.geojson` : undefined} peakString={location.historicalPeak} historicalPhenology={historicalPhenology} poiSlug={location.slug} />
		<LocationDetails client:load location={location} historicalPhenology={historicalPhenology} locationImages={images} />
	</main>
</Layout>
